body {
  padding-top: 70px;
  font-family: 'Segoe UI', sans-serif;
}

.banner {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("https://images.unsplash.com/photo-1517686469429-8bdb88b9f907");
  background-size: cover;
  background-position: center;
}

.btn-red {
  background-color: #8b0000;
  color: white;
}

.btn-red:hover {
  background-color: #5c0000;
  color: white;
}

.card img {
  height: 220px;
  object-fit: cover;
}

.main-color {
  background-color: #1b5e20;
}


.service-section {
  background-color: #f8f9fa;
}

.service-card {
  background-color: #ffffff;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.icon-service {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #8b0000;
  color: #ffffff;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
