.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(banner.webp);
    background-size: cover;
    background-position: center;
}
.btn-red {
  background: black;
  color: white;
}